name: Pre-commit

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use."
        required: false
        default: "3.13"
        type: string

jobs:
  pre-commit:
    name: Run pre-commit hooks
    runs-on: ubuntu-latest

    permissions:
        contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
            python-version: ${{ inputs.python-version }}
            check-latest: true

      - name: Run pre-commit (all files)
        uses: pre-commit/action@v3.0.1
        with:
          extra_args: --all-files
